:root{
    /* cre: happyhues.co */
    --background-color: #f9f4ef;
    --headline-color:#020826;
    --paragraph-color: #716040;
    --btn-color:#8c7851;
    --btn-text-color:#fffffe;
    --stroke-color:#020826;
    --tertiary-color:#f25042;
}